{% extends 'base.html' %} {% block head %}
<title>Binary Codes</title>
{% endblock %} {% block body %}
<div class="mainText">
    <h1>Decrypt a Golay or Reed-Muller code!</h1>
    <img src="{{url_for('static', filename='Answer.png')}}" class="witch" />
    <a href="binary/golay"><button class="my-button"> Golay Code</button></a>
    <a href="binary/rm"><button class="my-button">Reed Muller Codes</button></a>
    <a href="binary/ham"><button class="my-button">Hamming Codes</button></a>
</div>
{% endblock %}