{% extends 'base.html' %} {% block head %}
<title>The Golay Code</title>
{% endblock %} {% block body %}
<div class="mainText">
    <h1>Decrypt a message encoded with the Golay Code!</h1>
    <p>The extended Golay code is designed to enable catching and correcting errors in the transmission of binary strings of length 12. The sent word is treated as a vector and multiplied by a generator matrix to produce a codeword of length 24. This algorithm
        can detect and correct errors pattern up to weight three (i.e. three bits were flipped in transmission)!
    </p>
    <p>This is extremely useful when transmitting messages through channels with lots of noise, such as space! The Golay code was used when transmitting messages to the Voyager Spacecraft, allowing us to get close-up photos of Saturn and Jupiter in the 1980s.
    </p>
    <img src="{{url_for('static', filename='Default.png')}}" class="witch" />
    <form method=post enctype=multipart/form-data>
        <input class="my-button" type=text name=text>
        <input class="my-button" type=submit value=Decode>
    </form>
    <p>{{error}}</p>
    <p>{{codeword}}</p>
    <p>{{message}}</p>
</div>


{% endblock %}