{% extends 'base.html' %} {% block head %}
<title>Hamming Codes</title>
{% endblock %} {% block body %}
<div class="mainText">
    <h1>Error-correct a message encoded with a Hamming Code!</h1>
    <img src="{{url_for('static', filename='Default.png')}}" class="witch" />
    <form method=post enctype=multipart/form-data>
        <input class="my-button" type=text name=text>
        <input class="my-button" type=submit value=Decode>
    </form>
    <p>{{error}}</p>
    <p>{{codeword}}</p>
    <p>{{message}}</p>
</div>


{% endblock %}