{% extends 'base.html' %} {% block head %}
<title>CryptoWizard</title>
<div class="mainText">
    <h1>CryptoWizard</h1>
    <p>Welcome to our VandyHacks VII: Retro Edition Project! Decrypt codes here weeee </p>
    {% endblock %} {% block body %}

    <a href="/alphabetic">Alphabetic Code</a>
    <a href="/binary">Binary Code</a>

</div>

<div class="sidenav">
    <a href="/">Home Page</a>
    <a href="/alphabetic">Alphabetic Codes</a>
    <a href="/binary">Binary Codes</a>
</div>


{% endblock %}