{% extends 'base.html' %} {% block head %}
<title>3D-Watch</title>
<div class="mainText">
    <h1>3D-Watch</h1>
    <p>Welcome to our VandyHacks Summer Edition Project! Upload a picture below, and our machine learning algorithm will detect spaghetti. For other issues your printer may be having, click the links in the sidebar. </p>
    {% endblock %} {% block body %}

    <a href="/alphabetic">Alphabetic Code</a>
    <a href="/binary">Binary Code</a>

</div>

<div class="sidenav">
    <a href="/">Home Page</a>
    <a href="/alphabetic">Alphabetic Codes</a>
    <a href="/binary">Binary Codes</a>
</div>


{% endblock %}