{% extends 'base.html' %} {% block head %}
<title>CryptoWizard</title>
<div class="mainText">
    <h1>Welcome to the Crypto Crystal Cave</h1>
    <p>I am the code witch. These crystals possess the ability to reveal encryptions for those who know how to harness the power of math...</p>
    {% endblock %} {% block body %}
    <img src="{{url_for('static', filename='Default.png')}}" class="witch" />


    <a href="/alphabetic"><button class="my-button">Alphabetic Codes</button></a>
    <a href="/binary"><button class="my-button">Binary Code</button></a>

</div>




{% endblock %}